<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="serv11" class="com.kpc.di.Service11"></bean>
	
	<bean id="methodBeforeAdvice" class="com.kpc.aop.KpcBefore"></bean>
	<bean id="afterReturningAdvice" class="com.kpc.aop.KpcAfterSuccess"></bean>
	<bean id="throwsAdvice" class="com.kpc.aop.KpcAfterErr"></bean>
	<bean id="methodInterceptor" class="com.kpc.aop.KpcRound"></bean>
	<!-- 
	<bean id="pointcut"
	 class="org.springframework.aop.support.NameMatchMethodPointcut">
	 	<property name="mappedNames" value="func02,func01"></property>
	 </bean>
	  -->
	<bean id="pointcut"
	 class="org.springframework.aop.support.JdkRegexpMethodPointcut">
	 	<property name="pattern" value=".*func.*"></property>
	 </bean>
	 
	<bean id="pointcutAdvisor" 
	class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="pointcut" ref="pointcut"></property>
		<property name="advice" ref="methodBeforeAdvice"></property>
	</bean>
	
	<bean id="clone11" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="serv11"></property>
		<property name="interceptorNames">
			<list>
				<value>pointcutAdvisor</value>
				<!-- 
				<value>methodBeforeAdvice</value>
				<value>methodInterceptor</value> 
				<value>throwsAdvice</value>
				<value>afterReturningAdvice</value>
				-->
			</list>
		</property>
	</bean>
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"></bean>
	<!-- 
	 -->
</beans>


















